$color-background: #202124;
$color-header: #27272a;
$color-dividingLines: #414144;
$color-mainText: #fff;
$color-additionalText: #a1a1aa;
$color-editedText: #71717a;
$color-folderLines: #c6c6c6;

$font-roboto: 'Roboto', sans-serif;

$width-navbar: 234px;
