@import '../../sassStyles/variables';

.navbar__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 20px;

  &.activeClass {
    background-color: $color-additionalText;
  }

  span {
    margin-left: 14px;
  }
}
